.album {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 16px;
  margin: 0 auto 92px;
  width: 100%;
}

.album__image {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .album {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 16px;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 544px) {
  .album {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 16px;
    margin-bottom: 62px;
  }
}
