.places {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  max-width: 984px;
  gap: 80px;
}

.span-accent {
  color: #aaaaaa;
  margin-bottom: 8px;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 12%;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .places {
    gap: 72px;
  }
}

@media screen and (max-width: 544px) {
  .places {
    gap: 50px;
  }
}
